#root {
  /*max-width: 1280px;*/
  margin: 0;
  padding: 0;
  text-align: center;
}

.box{
 background-color: blanchedalmond;
  justify-content: center;
  align-items: flex-start;
  margin-top: 150px;
  padding: 1%;
  border:1px solid black;
  width: 80%;
}